<<<<<<< HEAD
:root {
  --PrimaryColor: hsl(199, 100%, 33%);
  --SecondaryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(
    to right,
    hsl(187, 85%, 43%),
    hsl(199, 100%, 33%)
  );
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 4%, 36%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 246);
  --cardBG: rgb(225, 225, 225);
}

.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--whiteColorDeam);
  width: 100%;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(2, 15, 29, 0.242);
  z-index: 1000;
  
  /* margin-bottom: 1.5rem; */

  .logo {
    color: var(--blackColor);
    font-weight: 600;
    cursor: pointer;
    align-items: center;
    justify-content: center;

    .icon{
      font-size: 25px;
      color: var(--PrimaryColor);
      transform: translateY(5px);
    }

    
  }

  @media screen and (max-width: 768px) {
    .navBar {
      margin-top: 1rem;
      position: absolute;
      background: var(--whiteColorDeam);
      height: max-content;
      width: 80%;
      border-radius: 1rem;
      top: -500rem;
      left: 50%;
      padding: 1rem;
      transform: translate(-50%);
      z-index: 2000;
      box-shadow: 0 2px 4px rgba(2, 15, 29, 0.904);
      transition: 0.3s ease-in-out;

      .navLists {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: auto;
        padding: 0.5rem 0;

        .navItem {
          padding: 0.5rem 0;
          .navLink {
            color: var(--textColor);
            font-size: 0.9rem;
            font-weight: 600;
            &:hover {
              color: var(--PrimaryColor);
            }
          }
        }

        .btn {
          // padding: 1rem 2rem;
          margin-top: 1rem;
          a{
            font-weight: 600;
            color: var(--whiteColor);
          }
        }
      }

      .closeNavbar{
        position: absolute;
        top: 1rem;
        right: 1.5rem;
        color: var(--PrimaryColor);
        &:hover{
          color: var(--SecondaryColor);
        }

      }
    }

    .activeNavbar{
      top:7rem;

    }
  }

  .toggleNavbar{
    .icon{
      font-size: 25px;
      color: var(--PrimaryColor);
    }
    &:hover.icon{
      color: var(--SecondaryColor);
    }
  }
}



// @media screen and (min-width: 769px) {
//   .toggleNavbar,.closeNavbar{
//     display: none;
//   }

//   .header{
//     padding: 1.5ren 2rem;

//     .navBar{
//       .navLists{
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         flex-direction: row;

//         .navItem{
//           .navLink{
//             color: var(--textColor);
//             padding: 0 0.45rem;
//             font-size: 0.9rem;
//             font-weight: 500;

//             &:hover{
//               color: var(--PrimaryColor);
//             }
//           }
//         }

//         .btn{
//           margin-left: 1rem;
//           a{
//             color: var(--whiteColor);
//             font-weight: 500;
//           }
//         }
//       }
//     }
//   }

//       }
// @media screen and (min-width: 1240px) {
//   .header{
//     padding: 1rem 8.5rem;
//   }
// }
=======
.shreya .container {
  font-family: "Raleway", sans-serif;
  background-color: #D9DDD9;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 0px 6px 14px 3px rgba(0, 0, 0, 0.75);
}

.shreya .content {
  display: flex;
  flex-direction: row;
}

.shreya .col-sm-6 {
  width: 50%;
}

.shreya .col-sm-6:nth-child(1) {
  order: -1;
}

.shreya .img {
  max-width: 100%;
  height: auto;
  margin: auto;
  display: block;
  transition: opacity 0.2s ease-out;
}

.shreya .img:hover,
.shreya .img:focus,
.shreya .img:active {
  opacity: 0.8;
}

.shreya .information {
  padding: 15px;
}

.shreya h1 {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 3em;
}

.shreya h3 {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 2em;
}

.shreya p {
  font-size: 1.1em;
}

.shreya hr {
  border-color: grey;
}

.shreya blockquote {
  border: none;
  font-style: italic;
}

.shreya .tree {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.shreya .tree .glyphicon {
  font-size: 70px;
}

.shreya .tree a {
  color: #658068;
  transition: color 0.2s linear;
  text-decoration: none;
}

.shreya .tree a:hover,
.shreya .tree a:focus,
.shreya .tree a:active {
  color: #B5C9AB;
}
>>>>>>> 4b273dab4d1e7a43199183368802a56c7d20e8b5
